In [19]:
import pandas as pd
import numpy as np
import joblib

test_df = pd.read_csv("Q3-test.csv")
target_label = ['Caco-2', 'CYP3A4', 'hERG', 'HOB', 'MN','SMILES']
class_label = ['Caco-2', 'CYP3A4', 'hERG', 'HOB', 'MN']

X = test_df.drop(labels=target_label,axis=1)

In [3]:
caco_predictor = joblib.load("caco_rfc.model")
mn_predictor =joblib.load("mn_lgbm.model")
herg_predictor = joblib.load("herg_lgbm.model")
hob_predictor =joblib.load("hob_lgbm.model")
cyp3a4_predictor = joblib.load("cyp3a4_xgbc.model")

In [4]:
caco_pred = caco_predictor.predict(X)
mn_pred = mn_predictor.predict(X)
herg_pred = herg_predictor.predict(X)
hob_pred = hob_predictor.predict(X)
cyp3a4_pred = cyp3a4_predictor.predict(X)

In [5]:
type(caco_pred)

numpy.ndarray

In [22]:
#a = np.vstack((caco_pred,mn_pred))
a = pd.concat([pd.DataFrame(caco_pred),pd.DataFrame(cyp3a4_pred)
               ,pd.DataFrame(herg_pred),pd.DataFrame(hob_pred),pd.DataFrame(mn_pred)],axis=1
              ,names=class_label)
a.columns = class_label
a.to_csv('测试结果最终.csv',index=False)
a.head()

   Caco-2  CYP3A4  hERG  HOB  MN
0       0       1     0    0   1
1       0       1     0    0   1
2       0       1     0    0   1
3       0       1     0    0   1
4       0       1     0    0   1

    0
0   0
1   0
2   0
3   0
4   0
5   0
6   0
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0
18  0
19  0
20  0
21  0
22  1
23  1
24  1
25  1
26  0
27  0
28  0
29  0
30  0
31  1
32  1
33  0
34  0
35  0
36  0
37  0
38  0
39  0
40  0
41  0
42  0
43  0
44  0
45  0
46  0
47  0
48  0
49  0
50  1